# Default values for my-monorepo-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

services:
  student_service:
    port: 8073
    image:
      repository: public.ecr.aws/e0x1f4p4/community-service/community-service-repo
      tag: latest
  media_service:
    port: 8075
    image:
      repository: public.ecr.aws/e0x1f4p4/media-service/media-service-repo
      tag: latest
  auth_service:
    port: 8071
    image:
      repository: public.ecr.aws/e0x1f4p4/auth-service/auth-service-repo
      tag: latest
  admin_core_service:
    port: 8072
    image:
      repository: public.ecr.aws/e0x1f4p4/admin-core-service/admin-core-service-repo
      tag: latest
  assessment_service:
    port: 8074
    image:
      repository: public.ecr.aws/e0x1f4p4/assessment-service/assessment-service-repo
      tag: latest
  notification_service:
    port: 8076
    image:
      repository: public.ecr.aws/e0x1f4p4/notification-service/notification-service-repo
      tag: latest

environment:
  stage: stage
  prod: prod