apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-core-service
  namespace: default
  labels:
    app: admin-core-service
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.rollingUpdate.maxSurge }}
      maxUnavailable: {{ .Values.rollingUpdate.maxUnavailable }}
  selector:
    matchLabels:
      app: admin-core-service
  template:
    metadata:
      labels:
        app: admin-core-service
    spec:
      containers:
        - name: admin-core-service
          image: "{{ .Values.services.admin_core_service.image.repository }}:{{ .Values.services.admin_core_service.image.tag }}"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: myconfigmapv1.0
          resources:
            requests:
              cpu: "200m"
              memory: "450Mi"
            limits:
              cpu: "450m"
              memory: "600Mi"
          livenessProbe:
            httpGet:
              path: /admin-core-service/actuator/health
              port: {{ .Values.services.admin_core_service.port }}
              scheme: HTTP
            initialDelaySeconds: 180
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 5
            successThreshold: 1
          startupProbe:
            httpGet:
              path: /admin-core-service/actuator/health
              port: {{ .Values.services.admin_core_service.port }}
              scheme: HTTP
            initialDelaySeconds: 180
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 30
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /admin-core-service/actuator/health
              port: {{ .Values.services.admin_core_service.port }}
              scheme: HTTP
            initialDelaySeconds: 180
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 5
            successThreshold: 1
          ports:
            - containerPort: {{ .Values.services.admin_core_service.port }}
